@import 'base.css';

.container {
    height: 100vh;
    display: flex;
}

nav {
    display: flex;
    padding: 42px 0;
    align-items: center;
    height: 10vh;
    background-color: transparent;
    position: fixed;
    z-index: 42;
}

nav .nav-items {
    margin-left: 8vw;
}

nav .nav-items img {
    height: 36px;
}

.kyc-container {
    border: 1px solid red;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
}