@import 'base.css';

aside.side-bar {
    width: 35vw;
    height: 100vh;
    background-color: var(--orange-50);
    display: flex;
    flex-direction: column;

}

aside .footer {
    margin-top: auto;
    margin-left: 8vw;
    margin-bottom: 1rem;
    font-size: var(--text-xs);
}

aside .footer ul {
    font-size: var(--text-xs);
    list-style: none;
    display: flex;
    gap: 24px;
}

aside .footer ul a {
    color: var(--gray-200);
    text-decoration: underline;
    text-underline-position: under;
}